[*.cs]

# CS8714: Тип не может быть использован как параметр типа в универсальном типе или методе. Допустимость значения NULL для аргумента типа не соответствует ограничению "notnull".
dotnet_diagnostic.CS8714.severity = none
